{
    "root": true,
    "extends": "airbnb-base",
    "env": {
        "node": true,
        "es6": true
    },
    "parser": "typescript-eslint-parser",
    "plugins": ["typescript", "import"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": "off",
        "quotes": ["warn", "single"],
        "semi": ["warn", "always"],
        "space-before-blocks": ["warn"],
        "spaced-comment": ["warn"],
        "comma-dangle": ["error", "only-multiline"],
        "arrow-parens": "off",
        "dot-notation": "off",
        "new-cap": "off",
        "consistent-return": "off",

        "no-var": ["error"],
        "no-new-object": ["error"],
        "no-array-constructor": ["error"],
        "no-unused-vars": "off",
        "no-unused-expressions": "off",
        "no-new-func": ["error"],
        "no-param-reassign": "off",
        "no-console": "off",
        "no-plusplus": "off",
        "no-await-in-loop": "off",
        "no-bitwise": "off",
        
        "class-methods-use-this": "off",
        "func-names": "off",

        "typescript/no-unused-vars": ["warn"]
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            "typescript": {}
        }
    }
}